# Assignment No 1: Try Five different fuctions of string in python

In [2]:
name="we love letsupgrade"

In [4]:
name.capitalize()

'We love letsupgrade'

In [9]:
name.upper()

'WE LOVE LETSUPGRADE'

In [13]:
name.split()

['we', 'love', 'letsupgrade']

In [16]:
name.center(100)

'                                        we love letsupgrade                                         '

In [17]:
name.encode()

b'we love letsupgrade'

# Assignment 2: Try five different list fuctions in python

In [65]:
fru = ["watermelon","apples","grapes"]

In [66]:
fru

['watermelon', 'apples', 'grapes']

In [67]:
fru.append("oranges")

In [68]:
fru

['watermelon', 'apples', 'grapes', 'oranges']

In [69]:
fru.reverse()

In [70]:
fru

['oranges', 'grapes', 'apples', 'watermelon']

In [73]:
fru.remove("grapes")

In [74]:
fru

['oranges', 'apples', 'watermelon']

In [76]:
fru.count("watermelon")

1

In [77]:
fru.clear()

In [78]:
fru

[]

# Assignment no 3: Try five different functions of dictionary

In [81]:
info={"name":"Anand", "city":"mumbai", "age":24}

In [82]:
info

{'name': 'Anand', 'city': 'mumbai', 'age': 24}

In [83]:
info.values()

dict_values(['Anand', 'mumbai', 24])

In [85]:
info.get("age")

24

In [89]:
info.update({"gender":"male"})

In [90]:
info

{'name': 'Anand', 'city': 'mumbai', 'age': 24, 'gender': 'male'}

In [91]:
info.pop("gender")

'male'

In [93]:
info.fromkeys(info)

{'name': None, 'city': None, 'age': None}

In [94]:
info

{'name': 'Anand', 'city': 'mumbai', 'age': 24}